<h1><%= @recipe.name() %></h1>

<% if @recipe.instructions().nil?() %>
  <form action="/recipe/<%= @recipe.id() %>" method="post">
    <div class="form-group">
      <input name="recipe_instructions" class="form-control" type="text" placeholder="Instructions" required>
      <br>
      <button class="btn btn-success" value="submit">Add Instructions</button>
    </div>
  </form>

<% else %>
  <form action="/recipe/<%= @recipe.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <input name="new_instructions" class="form-control" type="text" placeholder="Change recipe instructions" required>
      <br>
      <button class="btn btn-success" value="submit">Change instructions!</button>
    </div>
  </form>
<% end %> 

<h4>Add Ingredients to Recipe:<h4>
<form action="/recipe/ingredient/<%= @recipe.id() %>" method="post">
  <div class="form-group">
    <select class="form-control" name="ingredient_id">
      <% Ingredient.all().each() do |ingredient| %>
        <option value="<%= ingredient.id() %>"><%= ingredient.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Add Ingredient!</button>
</form>

<h4>Instructions:</h4>
<p><%= @recipe.instructions() %></p>
<hr>

<h4>Ingredients:</h4>
<% if @recipe.ingredients().any?() %>
  <ul>
  <% @recipe.ingredients().each() do |ingredient| %>
    <li><%= ingredient.name() %></li>
  <% end %>
  </ul>
<% else %>
  <p>No ingredients added</p>
<% end %>

<hr>
<a href="/ingredients">Add ingredients to your cupboard!</a>
<br>
<a href="/">Back to Recipe Box</a>
